/* HTML tags */

body {
    background: linear-gradient(90deg, yellow, white, black);
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}


/***************/


/* Class */



/***************/


/* ID */


/***************/

