/* HTML tags */

body {
    background: linear-gradient(90deg, magenta, red, pink);
}

/**************************/


/* class */



/**************************/


/* ID */

#container_user {
    font-size: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
}


/**************************/